*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-135deg, red, blue);
    font-size: 15px;
    font-family: 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
}

#corps{
    width: 320px;
    background: linear-gradient(60deg, white, rgb(92, 92, 91));
    height: 360px;
    padding: 2px;
    border-radius: 25px;
    transition: filter 0.3s ease;
}

header{
    color: rgb(2, 2, 83);
}

header p{
    font-size: 12px;
    margin-top: 15px;
}

#couleur{
    border-radius: 15px;
    height: 150px;
    margin: 10px;
}


.choix{
    justify-content: center;
}
.choix button{
    margin: 2px;
    background-color: rgb(73, 73, 73);
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s , transform 0.1s ease;
}
.correct{
    background-color: green !important;
    color: white;
    transform: scale(1.1);
}
.wrong{
    background-color: red !important;
    color: white;
    transform: scale(1.1);
}

.score{
    margin: 2px;
}

#MessageDeFin{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.Message{
    background: white;
    padding: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#resultatMessage{
    color:green;
    font-size: 25px;
    letter-spacing: 2px;
}
#actionBtn{
    padding:10px ;
    color: azure;
    background: blue;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    font-weight: bold;
}
#actionBtn:focus{
    background: azure;
    color: blue;
    display: none;
}